<div class="main_container">

  <div class="navi_container">
    <div class="navi_box">
      <div class="state_umbrella">
        <% if current_user.have_umbrella %>
          <p>傘を持っています</p>
        <% else %>
          <p>傘を持っていません</p>
        <% end %>
      </div>
      <div class="navi_prof_pic">
        <% if current_user.image.url == nil %>
          <% if current_user.gender == "男" %>
            <%= image_tag('male.png') %>
          <% elsif current_user.gender == "女" %>
            <%= image_tag('female.png') %>
          <% elsif current_user.gender == "どちらでもない" %>
            <%= image_tag('trans.png') %>
          <% end %>
        <% else %>
          <%= image_tag(current_user.image.url) unless current_user.image.url == nil %>
        <% end %>
      </div>
      <div class="navi_prof_name">
        <p><%= current_user.name %></p>
      </div>
      <div class="navi_prof_mypage">
        <p><%= link_to "マイページ", user_path(current_user.id) %></p>
      </div>
      <div class="navi_prof_area">
        <p>あなたがいる場所</p>
        <p><b><%= current_user.area %></b></p>
      </div>
      <div class="navi_prof_state_dark-pink">
        <p><b><%= link_to "#{@opposite_user.name}", user_path(@opposite_user.id) %></b> さんと<br>メッセージ中です</p>
      </div>
      <div class="navi_prof_logout">
        <% if user_signed_in? %>
            <div><%= link_to "ログアウトして終了", destroy_user_session_path, method: :delete, data: { confirm: '本当に終了しますか？(現在のリクエストがリセットされます)' } %></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="right_culumn_container">
    <div id="cancel_id_is_<%= @opposite_user.id %><%= current_user.id %>"></div>
    
    <div class="main_box_on_message_page">
      <div class="profile_header">
        <h3><%= @opposite_user.name %> さんとのメッセージルーム</h3>
      </div>

      <div class="message_box" id="remove_form_id_is_<%= @opposite_user.id %><%= current_user.id %>">

        
          <% @messages.each do |message| %>
            <% if message.body.present? %>
              
    
              <% if message.user == current_user %>
                <div class="self-container">
                  <div class="message_container">
                    <div class="delete_box">
                    <% if current_user.id == message.user.id %>
                      <%= link_to '削除', conversation_message_path(@conversation.id,message.id), class: "delete_message", method: :delete %>
                    <% end %>
                    </div>
                    <div class="past_self_message">
  
              <% else %>
                <div class="partner-container">
                  <%= image_tag message.user.image.url, class: "profile_message_img" %>
                  <div class="message_container">
                    <p><%= message.user.name %></p>
                    <div class="past_partner_message">
              <% end %>
    
                      <p class="message_body"><%= message.body %></p>
                    </div>
    
                  </div>
                  <div class="message_date">
                    <p><%= message.created_at.strftime('%H:%M') %></p>
                  </div>
                </div>
  
              
            <% end %>
          <% end %>
        
        <div id="conversation_id_is_<%= @opposite_id %><%= @conversation.id %>"></div>
        <div id="latest_position"></div>
      </div>
    </div>

    <div id="submit_container">
      <%= form_with(model: [@conversation, @message], :html => { :onsubmit => "ToLatestMessage()" }) do |f| %>
          <%= f.text_area :body, id: "form-control", placeholder: "メッセージを入力" %>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
          <%= f.submit "送信", class: "submit_buttom" %>
      <% end %>
    </div>

  </div>

</div>




<script>
  $(function(){
    $('textarea').autosize();
  });

  (function() {
      const target = document.getElementById("form-control");
      const observer = new MutationObserver(function() {
          console.log(target.style.width, target.style.height);
          let element = document.getElementById('submit_container');
          let text_area_height = document.getElementById('form-control').clientHeight;
          text_area_height = text_area_height + 28;
          element.style.height = text_area_height + "px";
      });
      const options = {
          attriblutes: true,
          attributeFilter: ["style"]
      };
      observer.observe(target, options);
  })();


</script>