<div class="main_container">

  <div class="navi_container">
    <div class="navi_box">
      <div class="state_umbrella">
        <% if current_user.have_umbrella %>
          <p>傘を持っています</p>
        <% else %>
          <p>傘を持っていません</p>
        <% end %>
      </div>
      <div class="navi_prof_pic">
        <% if current_user.image.url == nil %>
          <% if current_user.gender == "男" %>
            <%= image_tag('male.png') %>
          <% elsif current_user.gender == "女" %>
            <%= image_tag('female.png') %>
          <% elsif current_user.gender == "どちらでもない" %>
            <%= image_tag('trans.png') %>
          <% end %>
        <% else %>
          <%= image_tag(current_user.image.url) unless current_user.image.url == nil %>
        <% end %>
      </div>
      <div class="navi_prof_name">
        <p><%= current_user.name %></p>
      </div>
      <div class="navi_prof_mypage">
        <p><%= link_to "マイページ", user_path(current_user.id) %></p>
      </div>
      <div class="navi_prof_notification">
        ここに通知
      </div>
      <div class="navi_prof_state">
        ここに状態
      </div>
      <div class="navi_prof_logout">
        <% if user_signed_in? %>
            <div><%= link_to "ログアウトして終了", destroy_user_session_path, method: :delete, data: { confirm: '本当に終了しますか？(現在のリクエストがリセットされます)' } %></div>
        <% end %>
      </div>
    </div>
  </div>

<div id="cancel_id_is_<%= @opposite_user.id %><%= current_user.id %>"></div>

<div class="right_culumn_container">
  <div class="main_box_on_message_page">
    <div class="profile_header">
      <h3><%= @opposite_user.name %> さんとのメッセージルーム</h3>
    </div>
    <div class="message_box" id="remove_form_id_is_<%= @opposite_user.id %><%= current_user.id %>">
  
      <div class="ui segment">
        <% @messages.each do |message| %>
          <% if message.body.present? %>
            <div class="item">
  
              <% if message.user == current_user %>
                <div class="delete_box">
                <% if current_user.id == message.user.id %>
                  <%= link_to '削除', conversation_message_path(@conversation.id,message.id), class: "delete_message", method: :delete %>
                <% end %>
                </div>
                <div class="self-container">
                  <div class="past_self_message">
  
              <% else %>
                <div class="partner-container">
                  <div class="partner_span">
                    <%#= image_tag @opposite_user.image.url, class: "profile_message_img" %>
                  </div>
                  <div class="past_partner_message">
              <% end %>
  
                  <p class="message_body"><%= message.body %></p>
                  <% if message.user == current_user %>
                    <%#= message.read ? '既読' : '未読' %>
                  <% end %>
  
                </div>
              </div>
  
            </div>
          <% end %>
        <% end %>
      </div>
  
      <div class="partner-container">
        <div id="conversation_id_is_<%= @opposite_id %><%= @conversation.id %>"></div>
      </div>
  
      <%= form_with(model: [@conversation, @message]) do |f| %>
        <div class="message_field">
          <%= f.text_area :body, class: "form-control" %>
        </div>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
        <div>
          <%= f.submit "メッセージを送る" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>