<div class="regis_background">

  <div class="regis_container">
  
    <div class="disc_box">
      <div class="disc_large">
        <p class="disc_large_sentence">雨の日に人と人をつなぐ</p>
        <p class="disc_large_sentence">傘シェアリングサービス</p>
      </div>
  
      <div class="disc_small">
        <p class="disc_small_sentence">傘を忘れてしまいましたか？</p>
        <p class="disc_small_sentence">目的地まで誰かに相合傘を頼んでみませんか？</p>
        <p class="disc_small_sentence">あなた自身が誰かに相合傘を</p>
        <p class="disc_small_sentence">してあげることもできます。</p>
        <p class="disc_small_sentence">ユーザー登録をすれば</p>
        <p class="disc_small_sentence">すぐに利用することができます。</p>
      </div>
    </div>
  
    <div class="regis_box">
  
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
      <div class="email_and_pass_form">
        <div class="regis_error_messages"><%= render "devise/shared/error_messages", resource: resource %></div>
        <div>
          <div class="field">
            <%= f.label :ニックネーム %>
            <br />
            <%= f.text_field :name, class: "form-control" %>
          </div>
  
          <div class="field_gender select_arrow">
            <%= f.label :性別 %>
            <br />
            <%= f.select :gender, ['男', '女', 'どちらでもない'], {include_blank: '選択してください'} %>
          </div>
  
          <div class="field_age select_arrow">
            <%= f.label :年齢 %>
            <br />
            <%= f.select :age, ['20~26', '27~33', '34~40', '41~47', '48~60', '非公開'], {include_blank: '選択してください'} %>
          </div>
  
          <div class="field">
            <%= f.label :email %>
            <br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
  
          <div class="field">
            <%= f.label :password %>
            <br />
            <% if @minimum_password_length %>
            <% if false %><em>(<%= @minimum_password_length %> characters minimum)</em><% end %>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
  
          <div class="field">
            <%= f.label :password_confirmation %>
            <br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
  
          
        </div>
      </div>
  
      <div class="regis_button_container">
        <div class="regis_button">
          <%= f.submit "登録する" %>
        </div>
      </div>
    
    <% end %>
  
    </div>
  
  </div>

</div>

<script>
  $(function () {
      $('.disc_large_sentence').textillate({loop: true});
  })
  
  $(function () {
      $('.disc_large_sentence').css('opacity',1).textillate({
        loop: false,  
        minDisplayTime: 0,  
        initialDelay: 150,  
        autoStart: true,  

        in:{
          effect: 'fadeIn',  
          delayScale: 10.5,  
          delay: 40,  
          sync: true,  
          shuffle: false
        },  

        out:{
          effect: 'fadeOut',  
          delayScale: 1.5,  
          delay: 50,  
          sync: false,  
          shuffle: false
        }
      });
  })

  $(function () {
      $('.disc_small_sentence').textillate({loop: true});
  })
  
  $(function () {
      $('.disc_small_sentence').css('opacity',1).textillate({
        loop: false,  
        minDisplayTime: 0,  
        initialDelay: 600,  
        autoStart: true,  

        in:{
          effect: 'fadeIn',  
          delayScale: 10.5,  
          delay: 40,  
          sync: true,  
          shuffle: false
        },  

        out:{
          effect: 'fadeOut',  
          delayScale: 1.5,  
          delay: 50,  
          sync: false,  
          shuffle: false
        }
      });
  })
</script>