<div id="agreement_form_<%= user.id %>">
  <% unless current_user.following?(user) %>
    <%= form_with(model: current_user.active_matchings.build(followed_id: user.id), local: true) do |f| %>
      <%= f.hidden_field :followed_id %>
      <%= f.submit "リクエスト承諾", data: { confirm: '本当に承諾しますか？(承諾するとメッセージルームに移動します)' } %>
    <% end %>
  <% else %>
    <%= form_with(model: current_user.active_matchings.find_by(followed_id: user.id), method: :delete, local: true ) do |f| %>
      <%= f.submit "キャンセルする" %>
    <% end %>
  <% end %>
</div>