<h1>傘を持っている</h1>

<%= link_to "マイプロフィール", edit_user_path(current_user.id)  %>
<%= current_user.email %>
<%= current_user.umbrella.have_umbrella %>
<%= current_user.location.area %>
<br><br><br><br>

<% @users.each do |user| %>
  <% if user.id != current_user.id %>
      <div class="item">
        <%= user.name %>
        <%= user.email %>
        <%= user.umbrella.have_umbrella if user.umbrella %>
        <%= user.location.area if user.location %>
        <%= user.profile.gender if user.profile %>
        <%= user.profile.age if user.profile %>
        <%= link_to "詳細", user_path(user.id)  %>
        <%= link_to 'リクエストを承諾', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post, data: { confirm: '本当に承諾しますか？' } %>
      </div>
      <br>
  <% end %>
<% end %>