<tr class="table_border" id="request_id_is_<%= ping.follower.id %>">
  <td class="list_prof_img">
    <% if ping.follower.image.url == nil %>
      <% if ping.follower.gender == "男" %>
        <%= link_to image_tag('male.png'), user_path(ping.follower.id) %>
      <% elsif ping.follower.gender == "女" %>
        <%= link_to image_tag('female.png'), user_path(ping.follower.id) %>
      <% elsif ping.follower.gender == "どちらでもない" %>
        <%= link_to image_tag('trans.png'), user_path(ping.follower.id) %>
      <% end %>
    <% else %>
      <%= link_to image_tag(ping.follower.image.url), user_path(ping.follower.id) unless ping.follower.image.url == nil %>
    <% end %>
  </td>
  <td class="list_name">
    <%= link_to "#{ping.follower.name}", user_path(ping.follower.id)  %>
  </td>
  <td class="list_gender_and_age">
    <%= link_to "#{ping.follower.gender}", user_path(ping.follower.id), class: "gender" %>
    <% if ping.follower.age != "非公開" %>
      <%= link_to "#{ping.follower.age}才", user_path(ping.follower.id), class: "age" %>
    <% else %>
      <%= link_to "年齢非公開", user_path(ping.follower.id), class: "age" %>
    <% end %>
  </td>
  <td class="list_area">
    <%= link_to "#{ping.follower.area}", user_path(ping.follower.id) %>
  </td>
</tr>