<tr class="table_border" id="request_id_is_<%= ping.follower.id %>">
  <td class="main_name">
    <%= link_to "#{ping.follower.name}", user_path(ping.follower.id)  %>
  </td>
  <td class="main_area"><%= ping.follower.area %></td>
  <td class="main_gender"><%= ping.follower.gender %></td>
  <td class="main_age"><%= ping.follower.age %></td>
</tr>