<tr class="table_border" id="request_id_is_<%= ping.follower.id %>">
  <td class="main_name"><%= ping.follower.name %></td>
  <td class="main_area"><%= ping.follower.area %></td>
  <td class="main_gender"><%= ping.follower.gender %></td>
  <td class="main_age"><%= ping.follower.age %></td>
  <td><%= link_to "確認する", user_path(ping.follower.id) %></td>
  <td></td>
</tr>

