<h1>リクエスト承諾確認画面</h1>



<% @matchings.each do |matching| %>
<%# binding.pry %>
  <% if current_user.id == matching.follower_id %>
  <%# binding.pry %>
    <% if Matching.where(follower_id:matching.followed_id, followed_id:current_user.id).present? %>
    <p>以下の方にリクエストが承諾されました</p>
    
      <% @user = User.find(matching.followed_id) %><br>
      <%= @user.name %>
      <%= @user.email %>
      <%= @user.have_umbrella %>
      <%= @user.area %>
      <%= @user.gender %>
      <%= @user.age %>
      <%= link_to "詳細", user_path(@user.id)  %>
      <%= link_to "この人に相合傘をお願いする", conversations_path(sender_id: @user.id, recipient_id: current_user.id), method: :post, data: { confirm: '本当にお願いしますか？' }  %>
    <% else %>
      <p>承諾されたリクエストはありません</p>
    <% end %>
    
  <% end %>
<% end %>


<%= link_to '戻る', :back %> 