<div class="main_container">

  <div class="navi_container">
    <div class="navi_box">
      <div class="state_umbrella">
        <% if current_user.have_umbrella %>
          <p>傘を持っています</p>
        <% else %>
          <p>傘を持っていません</p>
        <% end %>
      </div>
      <div class="navi_prof_pic">
        <% if current_user.image.url == nil %>
          <% if current_user.gender == "男" %>
            <%= image_tag('male.png') %>
          <% elsif current_user.gender == "女" %>
            <%= image_tag('female.png') %>
          <% elsif current_user.gender == "どちらでもない" %>
            <%= image_tag('trans.png') %>
          <% end %>
        <% else %>
          <%= image_tag(current_user.image.url) unless current_user.image.url == nil %>
        <% end %>
      </div>
      <div class="navi_prof_name">
        <p><%= current_user.name %></p>
      </div>
      <div class="navi_prof_mypage">
        <p><%= link_to "マイページ", user_path(current_user.id) %></p>
      </div>
      <div class="navi_prof_area">
        <p>あなたがいる場所</p>
        <p><b><%= current_user.area %></b></p>
      </div>

        <% if current_user.following.first != nil %>
          <div class="navi_prof_state_light-pink">
            <p><b><%= link_to "#{current_user.following.first.name}", user_path(current_user.following.first.id) %></b> さんに<br>リクエスト中です</p>
          </div>
        <% end %>

      <div class="navi_prof_logout">
        <% if user_signed_in? %>
            <div><%= link_to "ログアウトして終了", destroy_user_session_path, method: :delete, data: { confirm: '本当に終了しますか？(現在のリクエストがリセットされます)' } %></div>
        <% end %>
      </div>
    </div>
  </div>


  <% @matchings.each do |matching| %>
    <% if current_user.id == matching.follower_id %>
      <% if Matching.where(follower_id:matching.followed_id, followed_id:current_user.id).present? %>
        <% @user = User.find(matching.followed_id) %>
        <div class="right_culumn_container">

          <div class="main_box_on_confirm_page">
            <div class="profile_header">
              <%#= link_to 'ユーザー一覧に戻る', users_path %>
              <p class="titile_on_confirm_page">あなたのリクエストが <strong><%= @user.name %></strong> さんに承諾されました。お願いしますか？</p>
              <p class="titile_on_confirm_page_responsive">あなたのリクエストが<br><strong><%= @user.name %></strong> さんに承諾されました。<br>お願いしますか？</p>
            </div>

            <div class="profile_container">

              <div class="profile_left">
                <div>
                  <% if @user.image.url == nil %>
                    <% if @user.gender == "男" %>
                      <%= image_tag 'male.png', class: "profile_img" %>
                    <% elsif @user.gender == "女" %>
                      <%= image_tag 'female.png', class: "profile_img" %>
                    <% elsif @user.gender == "どちらでもない" %>
                      <%= image_tag 'trans.png', class: "profile_img" %>
                    <% end %>
                  <% else %>
                    <%= image_tag @user.image.url, class: "profile_pic" unless @user.image.url == nil %>
                  <% end %>
                </div>
                <p class="prof_name"><strong><%= @user.name %></strong></p>
                <p class="prof_gender"><b>性別</b> <%= @user.gender %></p>
                <p class="prof_age"><b>年齢</b> <%= @user.age %> 才</p>
              </div>

              <div class="profile_right">
                <div class="prof_area">
                  <h2>今いる場所</h2>
                  <p><%= @user.area %></p>
                </div>
                <div class="prof_intro">
                  <%= @user.introduction %>
                </div>
                <div class="confirm_button">
                    <%= link_to "プロフィールを編集", edit_user_path(current_user.id) if current_user.id == @user.id %>
                    <%#= link_to 'ユーザー一覧画面に戻る', users_path %> 
                    <%= form_with(model: current_user.active_matchings.find_by(followed_id: @user.id), method: :delete, local: true ) do |f| %>
                      <%#= form.hidden_field :state, :value => nil %>
                      <%= f.submit "やっぱりやめる" %>
                    <% end %>
                    <%= form_with(model: @user, local: true) do |form| %>
                      <%= form.hidden_field :state, :value => "message" %>
                      <%= form.submit "お願いする", data: { confirm: '本当にお願いしますか？(メッセージルームへ移動します)' }  %>
                    <% end %>
                </div>

              </div>

            </div>
          </div>

        </div>
      <% end %>
    <% end %>
  <% end %>

  <% @nobody_exist = [] %>
  <% @matchings.each do |matching| %>

    <% if Matching.where(follower_id:matching.followed_id, followed_id:current_user.id).present? %>
      <% if Matching.where(follower_id:current_user.id, followed_id:matching.followed_id).present? %>
      <% end %>
    <% @nobody_exist << "love" %>
    <% elsif Matching.where(follower_id:current_user.id, followed_id:matching.followed_id).present? %>
      <% if Matching.where(follower_id:matching.followed_id, followed_id:current_user.id).present? %>
        <% @nobody_exist << "love" %>
      <% end %>
    <% else %>
    <% end %>
  <% end %>

  <% unless @nobody_exist.present? %>

  <div class="navi_box">
    <p>承諾されたリクエストはまだありません</p>
    <div class="navi_search"><%= link_to 'ユーザーの一覧に戻る', users_path %> </div>
  </div>

  <div class="main_box">
  <div>

  <% end %>

</div>