<div class="navi_box">
  <p>プロフィール編集画面</p>
  <div class="navi_search"><%= link_to "編集をキャンセルする", user_path(current_user.id) %> </div>
</div>

<div class="main_box">
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>未入力の箇所があります</h2>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;(※自己紹介は任意で結構です)</p>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="edit_box">
    <%= form_with model: @user do |form| %>

      <%= hidden_field :have_umbrella, @user.have_umbrella %>
      <%= hidden_field :area, @user.area %>
      <%= hidden_field :follow_state, "true" %>

      <%= label :name, "アカウント名" %>
      <%= form.text_field :name %>
      <br>
      <%= label :gender, "性別" %>
      <%= form.select :gender, [['選択してください', ''], ['男', '男'], ['女', '女'], ['どちらでもない', 'どちらでもない']] %>
      <br>
      <%= label :age, "年齢" %>
      <%= form.select :age, [['選択してください', ''], ['20~26', '20~26'], ['27~33', '27~33'], ['34~40', '34~40'], ['41~47', '41~47'], ['48~60', '48~60'], ['非公開', '非公開']] %>
      <br>
      <%= label :introduction, "自己紹介" %>
      <%= form.text_field :introduction %>
      <br>
      <%= label :image, "プロフィール画像" %>
      <%= form.file_field :image %>
      <br>
      <%= form.submit "プロフィールを更新" %>
    <% end %>
  </div>
</div>

