<h1>Users#index</h1>


<% if false %>

<%= link_to "マイプロフィール", edit_user_path(current_user.id)  %>
<%= current_user.email %>
<%= current_user.umbrella.have_umbrella %>
<%= current_user.location.area %>
<br><br><br><br>
<% @users.each do |user| %>
  <% if user.id != current_user.id %>
      <div class="item">
        <%= user.name %>
        <%= user.email %>
        <%= user.umbrella.have_umbrella if user.umbrella %>
        <%= user.location.area if user.location %>
        <%= user.profile.gander if user.profile %>
        <%= user.profile.ege if user.profile %>
        <%= link_to "詳細", user_path(user.id)  %>
        <%= render 'follow_form', user: user %>
        <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %>
      </div>
      <br>
  <% end %>
<% end %>

<% end %>

<%= link_to "マイプロフィール", user_path(current_user.id)  %>
<%= current_user.email %>
<%= current_user.umbrella.have_umbrella %>
<%= current_user.location.area %>
<br><br><br><br><br>

<% if current_user.umbrella.have_umbrella %>
  <h1>傘を持っていないひとからのリクエスト一覧</h1>

  <% @matchings.each do |matching| %>
    <% follower = User.find(matching.follower_id) %>
    <% followed = User.find(matching.followed_id) %>
    <% if followed.id == current_user.id && follower.umbrella %>
        <% unless follower.umbrella.have_umbrella %>
        <div class="item">
          <%= follower.profile.name if follower.profile %>
          <%= follower.email %>
          <%= follower.umbrella.have_umbrella if follower.umbrella %>
          <%= follower.location.area if follower.location %>
          <%= follower.profile.gender if follower.profile %>
          <%= follower.profile.age if follower.profile %>
          <%= link_to "詳細", user_path(follower.id)  %>
          <%= link_to 'リクエストを承諾', conversations_path(sender_id: current_user.id, recipient_id: follower.id), method: :post, data: { confirm: '本当に承諾しますか？' } %>
        </div>
        <br>
      <% end %>
    <% end %>
  <% end %>

<% else %>
  
  <h1>傘を持っているひと一覧</h1>
  <% @users.each do |user| %>
    <% if user.id != current_user.id && user.umbrella %>
      <% if user.umbrella.have_umbrella %>
        <div class="item">
          <%= user.profile.name if user.profile %>
          <%= user.email %>
          <%= user.umbrella.have_umbrella if user.umbrella %>
          <%= user.location.area if user.location %>
          <%= user.profile.gender if user.profile %>
          <%= user.profile.age if user.profile %>
          <%= link_to "詳細", user_path(user.id)  %>
          <%= render 'request_form', user: user %>
        </div>
      <br>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to "承諾済みリクエストを確認する", confirm_request_users_path %>
<% end %>