<div class="main_container">

<% if current_user.have_umbrella %>
  <div class="navi_container">
    <div class="navi_box">
      <div class="state_umbrella"><p>傘を持っています</p></div>
        <div class="navi_prof_pic">
          <% if current_user.image.url == nil %>
            <% if current_user.gender == "男" %>
              <%= image_tag('male.png') %>
            <% elsif current_user.gender == "女" %>
              <%= image_tag('female.png') %>
            <% elsif current_user.gender == "どちらでもない" %>
              <%= image_tag('trans.png') %>
            <% end %>
          <% else %>
            <%= image_tag(current_user.image.url) unless current_user.image.url == nil %>
          <% end %>
        </div>
        <div class="navi_prof_name">
          <p><%= current_user.name %></p>
        </div>
        <div class="navi_prof_mypage">
          <p><%= link_to "マイページ", user_path(current_user.id) %></p>
        </div>
        
        <% if current_user.following.first != nil && current_user.followers.first != nil && current_user.state == "message" %>
          <div class="navi_prof_state_dark-pink">
            <p><b><%= link_to "#{current_user.following.first.name}", user_path(current_user.following.first.id) %></b> さんと<br>メッセージ中です</p>
          </div>
        <% elsif current_user.following.first != nil %>
          <div class="navi_prof_state_light-pink">
            <p><b><%= link_to "#{current_user.following.first.name}", user_path(current_user.following.first.id) %></b> さんに<br>リクエスト中です</p>
          </div>
        <% end %>

        <div class="navi_prof_logout">
          <% if user_signed_in? %>
              <div><%= link_to "ログアウトして終了", destroy_user_session_path, method: :delete, data: { confirm: '本当に終了しますか？(現在のリクエストがリセットされます)' } %></div>
          <% end %>
        </div>
    </div>
  </div>

  <div class="right_culumn_container">

    <% if Matching.find_by(followed_id:current_user.id) && current_user.state == "message" %>
        <div class="confirm_box">
          <%= link_to "#{current_user.following.first.name} さんとメッセージ中です。メッセージ画面はこちら", conversations_path(sender_id: current_user.following.first.id, recipient_id: current_user.id), method: :post %>
        </div>
    <% end %>

    <div class="main_box">
      <div class="search_user">
        <div>
          <%= search_form_for @q do |f| %>
            <%= f.label :area, "場所" %>
            <%= f.search_field :area_cont, size: "10x10" %>
            <%= f.label :gender, "性別" %>
            <%= f.select :gender_eq, [['男', 1], ['女', 2], ['どちらでもない', 3]], :include_blank => '未選択' %>
            <%= f.label :age, "年齢" %>
            <%= f.select :age_eq, [['20~26', 1], ['27~33', 2], ['34~40', 3], ['41~47', 4], ['48~60', 5], ['非公開', 6]], :include_blank => '未選択' %>
            <%= f.submit "検索" %>
          <% end %>
        </div>
      </div>

      <div class="main_contents">
        <table id="request_user_id_is_<%= current_user.id %>">
          <% if Matching.find_by(followed_id: current_user.id) == nil %>
            <tr class="default_table_border" id="default_tr_id_is_<%= current_user.id %>">
              <td class="default_disc_box">
                <p>リクエストが来たらここに表示されます</p>
              </td>
            </tr>
          <% end %>
          <% @matchings.each do |matching| %>
            <% follower = User.find(matching.follower_id) %>
            <% followed = User.find(matching.followed_id) %>

            <% if followed.id == current_user.id && follower.have_umbrella == false %>
              <tr class="table_border" id="request_user_list_id_is_<%= follower.id %>">
                <td>
                  <% if follower.image.url == nil %>
                    <% if follower.gender == "男" %>
                      <%= link_to image_tag('male.png'), user_path(follower.id) %>
                    <% elsif follower.gender == "女" %>
                      <%= link_to image_tag('female.png'), user_path(follower.id) %>
                    <% elsif follower.gender == "どちらでもない" %>
                      <%= link_to image_tag('trans.png'), user_path(follower.id) %>
                    <% end %>
                  <% else %>
                    <%= link_to image_tag(follower.image.url), user_path(follower.id) unless follower.image.url == nil %>
                  <% end %>
                </td>
                <td class="list_name">
                  <%= link_to "#{follower.name}", user_path(follower.id)  %>
                </td>
                <td class="list_area"><%= follower.area %></td>
                <td class="list_gender"><%= follower.gender %></td>
                <td class="list_age"><%= follower.age %></td>
              </tr>
            <% end %>
          <% end %>

        </table>
      </div>
    </div>
  </div>

  <% else %>

  <div class="navi_container">
    <div class="navi_box">
      <div class="state_umbrella"><p>傘を持っていません</p></div>
        <div class="navi_prof_pic">
          <% if current_user.image.url == nil %>
            <% if current_user.gender == "男" %>
              <%= image_tag('male.png') %>
            <% elsif current_user.gender == "女" %>
              <%= image_tag('female.png') %>
            <% elsif current_user.gender == "どちらでもない" %>
              <%= image_tag('trans.png') %>
            <% end %>
          <% else %>
            <%= image_tag(current_user.image.url) unless current_user.image.url == nil %>
          <% end %>
        </div>
        <div class="navi_prof_name">
          <p><%= current_user.name %></p>
        </div>
        <div class="navi_prof_mypage">
          <p><%= link_to "マイページ", user_path(current_user.id) %></p>
        </div>
        
        <% if current_user.following.first != nil && current_user.followers.first != nil && current_user.state == "message" %>
          <div class="navi_prof_state_dark-pink">
            <p><b><%= link_to "#{current_user.following.first.name}", user_path(current_user.following.first.id) %></b> さんと<br>メッセージ中です</p>
          </div>
        <% elsif current_user.following.first != nil %>
          <div class="navi_prof_state_light-pink">
            <p><b><%= link_to "#{current_user.following.first.name}", user_path(current_user.following.first.id) %></b> さんに<br>リクエスト中です</p>
          </div>
        <% end %>

        <div class="navi_prof_logout">
          <% if user_signed_in? %>
              <div><%= link_to "ログアウトして終了", destroy_user_session_path, method: :delete, data: { confirm: '本当に終了しますか？(現在のリクエストがリセットされます)' } %></div>
          <% end %>
        </div>
    </div>
  </div>
  
  <div class="right_culumn_container">
    <div id="notification_id_is_<%= current_user.id %>"></div>
  
    <% if Matching.find_by(followed_id:current_user.id) && current_user.state == "message" %>
      <div class="confirm_box">
        <%= link_to "#{current_user.following.first.name} さんとメッセージ中です。メッセージ画面はこちら", conversations_path(sender_id: current_user.following.first.id, recipient_id: current_user.id), method: :post %>
      </div>
    <% elsif Matching.find_by(followed_id:current_user.id) %>
      <div class="confirm_box" id="confirm_id_is_<%= current_user.id %>">
        <%= link_to "あなたのリクエストが承諾されました。こちらから確認してください", confirm_request_users_path %>
      </div>
    <% end %>
    
    <div class="main_box">
      <div class="search_user">
        <div>
          <%= search_form_for @q do |f| %>
            <%= f.label :area, "場所" %>
            <%= f.search_field :area_cont, size: "10x10" %>
            <%= f.label :gender, "性別" %>
            <%= f.select :gender_eq, [['男', 1], ['女', 2], ['どちらでもない', 3]], :include_blank => '未選択' %>
            <%= f.label :age, "年齢" %>
            <%= f.select :age_eq, [['20~26', 1], ['27~33', 2], ['34~40', 3], ['41~47', 4], ['48~60', 5], ['非公開', 6]], :include_blank => '未選択' %>
            <%= f.submit "検索" %>
          <% end %>
        </div>
      </div>

      <div class="main_contents">
        <table>
          <% @users.each do |user| %>
            <% if user.id != current_user.id && user.have_umbrella && Matching.find_by(follower_id: user.id) == nil %>
                <tr class="table_border" id="having_user_list_id_is_<%= user.id %>">
                  <td class="list_prof_img">
                    <% if user.image.url == nil %>
                      <% if user.gender == "男" %>
                        <%= link_to image_tag('male.png'), user_path(user.id) %>
                      <% elsif user.gender == "女" %>
                        <%= link_to image_tag('female.png'), user_path(user.id) %>
                      <% elsif user.gender == "どちらでもない" %>
                        <%= link_to image_tag('trans.png'), user_path(user.id) %>
                      <% end %>
                    <% else %>
                      <%= link_to image_tag(user.image.url), user_path(user.id) unless user.image.url == nil %>
                    <% end %>
                  </td>
                  <td class="list_name">
                    <%= link_to "#{user.name}", user_path(user.id)  %>
                  </td>
                  <td class="list_gender_and_age">
                    <p><%= user.gender %></p>
                    <p><%= user.age %><%= "才" unless user.age == "非公開" %></p>
                  </td>
                  <td class="list_area"><%= user.area %></td>
                </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% end %>

</div>