
<% if current_user.have_umbrella %>
  <div class="navi_box">
    <h2>傘を持っていないひとからのリクエスト一覧</h2>
  </div>

  <div class="main_box">
    <table>
      <tr>
        <th class="main_name">アカウント名</th>
        <th class="main_area">今いる場所</th>
        <th class="main_gender">性別</th>
        <th class="main_age">年齢</th>
        <th class="main_my_profile" colspan="2"><%= link_to "マイプロフィール", user_path(current_user.id)  %></th>
      </tr>

      <% @matchings.each do |matching| %>
        <% follower = User.find(matching.follower_id) %>
        <% followed = User.find(matching.followed_id) %>
        <% if followed.id == current_user.id && follower.have_umbrella == false %>
            <tr class="table_border">
              <td>
                  <%= follower.name %>
              </td>
              <td><%= follower.area %></td>
              <td>
                  <%= follower.gender %>
              </td>
              <td>
                  <%= follower.age %>
              </td>
              <td>
                <%= link_to "詳細", user_path(follower.id)  %>
              </td>
              <td>
                <%= render 'agreement_form', user: follower %>
              </td>
            </tr>
        <% end %>
      <% end %>
      </td></tr>
    </table>
        <br>
  </div>

<% else %>
  
  <div class="navi_box">
    <h2>傘を持っているひと一覧</h2>
    <div class="navi_search">
      <%= search_form_for @q do |f| %>
        <%= f.label :area, "場所" %>
        <%= f.search_field :area_cont, size: "10x10" %>
        <%= f.label :gender, "性別" %>
        <%= f.select :gender_eq, [['男', 1], ['女', 2], ['どちらでもない', 3]], :include_blank => '未選択' %>
        <%= f.label :age, "年齢" %>
        <%= f.select :age_eq, [['20~26', 1], ['27~33', 2], ['34~40', 3], ['41~47', 4], ['48~60', 5], ['非公開', 6]], :include_blank => '未選択' %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>

  <div class="main_box">
    <table>
      <tr>
        <th class="main_name">アカウント名</th>
        <th class="main_area">今いる場所</th>
        <th class="main_gender">性別</th>
        <th class="main_age">年齢</th>
        <th class="main_my_profile" colspan="2"><%= link_to "マイプロフィール", user_path(current_user.id)  %></th>
      </tr>
      
      <% @users.each do |user| %>
        <% if user.id != current_user.id && user.have_umbrella %>
          <% if user.have_umbrella %>
            <tr class="table_border">
              <td><%= user.name %></td>
              <td><%= user.area %></td>
              <td><%= user.gender %></td>
              <td><%= user.age %></td>
              <td><%= link_to "詳細", user_path(user.id)  %></td>
              <td><%= render 'request_form', user: user %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
      </td></tr>
    </table>
  </div>

  <div class="bottom_box">
    <%= link_to "承諾済みリクエストを確認する", confirm_request_users_path %>
  </div>
<% end %>