<% if current_user.id != @user.id && current_user.have_umbrella == true && @follower != nil %>
  <div class="navi_box">
    <p><strong><%= @follower.name %></strong> さんのリクエストを承諾しますか？</p>
  </div>
  <div id="cancel_id_is_<%= @user.id %><%= current_user.id %>"></div>
<% else %>
<div class="navi_box">
  <p><strong><%= @user.name %></strong> <%= @user.email if current_user.id == @user.id %> さんのプロフィール</p>
  <div class="navi_search"><%= link_to 'ユーザーの一覧に戻る', users_path %> </div>
</div>
<% end %>

<div id="notification_id_is_<%= current_user.id %>"></div>

<div class="main_box">
  <div class="profile_left">
    <div>
      <% if @user.image.url == nil %>
        <% if @user.gender == "男" %>
          <%= image_tag 'male.png', class: "profile_img" %>
        <% elsif @user.gender == "女" %>
          <%= image_tag 'female.png', class: "profile_img" %>
        <% elsif @user.gender == "どちらでもない" %>
          <%= image_tag 'trans.png', class: "profile_img" %>
        <% end %>
      <% else %>
        <%= image_tag @user.image.url, class: "profile_pic" unless @user.image.url == nil %>
      <% end %>
    </div>
    <div><%= @user.name %></div>
    <div><strong>性別</strong> <%= @user.gender %></div>
    <div><strong>年齢</strong> <%= @user.age %></div>
  </div>

  <div class="profile_right">
    <div class="prof_area">
      <h2>今いる場所</h2>
      <p><%= @user.area %></p>
    </div>
    <div class="prof_intro">
      <%= @user.introduction %>
    </div>
    <div class="prof_bottom">
      <div class="prof_bottom_float">
        <%= link_to "プロフィールを編集", edit_user_path(current_user.id) if current_user.id == @user.id %>
        <% if @followed == nil && current_user.id != @user.id %>
          <div><%= render 'request_form', user: @user %></div>
        <% elsif @followed != nil %>

          <% if current_user.id == @followed.id %>
            <%= link_to 'ユーザー一覧画面に戻る', users_path unless current_user.id == @user.id %> 
            <span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
            <%= form_with(model: current_user.active_matchings.build(followed_id: @user.id)) do |f| %>
              <%= f.hidden_field :followed_id %>
              <%= f.submit "承諾する", data: { confirm: '本当に承諾しますか？(承諾するとメッセージルームに移動します)' } if current_user.id != @user.id && current_user.have_umbrella == true %>
            <% end %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>