
<h1><%= @user.email %>さんのプロフィールページ</h1>

<%= @user.email %>
<%= @user.umbrella.have_umbrella if @user.umbrella != nil %>
<%= @user.location.area if @user.location != nil %>
<br>
<%= @user.profile.name if @user.profile != nil %>
<br>
<%= @user.profile.age if @user.profile != nil %>
<br>
<%= @user.profile.gender if @user.profile != nil %>
<br>
<%= @user.profile.introduction if @user.profile != nil %>
<br>



<%= link_to "プロフィールを編集", edit_user_path(current_user.id) if current_user.id == @user.id %>

