<div class="main_container">

  <div class="navi_container">
    <div class="navi_box">
      <div class="state_umbrella">
        <% if current_user.have_umbrella %>
          <p>傘を持っています</p>
        <% else %>
          <p>傘を持っていません</p>
        <% end %>
      </div>
      <div class="navi_prof_pic">
        <% if current_user.image.url == nil %>
          <% if current_user.gender == "男" %>
            <%= image_tag('male.png') %>
          <% elsif current_user.gender == "女" %>
            <%= image_tag('female.png') %>
          <% elsif current_user.gender == "どちらでもない" %>
            <%= image_tag('trans.png') %>
          <% end %>
        <% else %>
          <%= image_tag(current_user.image.url) unless current_user.image.url == nil %>
        <% end %>
      </div>
      <div class="navi_prof_name">
        <p><%= current_user.name %></p>
      </div>
      <div class="navi_prof_mypage">
        <p><%= link_to "マイページ", user_path(current_user.id) %></p>
      </div>
      
      <% if current_user.following.first != nil && current_user.followers.first != nil && current_user.state == "message" %>
        <div class="navi_prof_state_dark-pink">
          <p><b><%= link_to "#{current_user.following.first.name}", user_path(current_user.following.first.id) %></b> さんと<br>メッセージ中です</p>
        </div>
      <% elsif current_user.following.first != nil %>
        <div class="navi_prof_state_light-pink">
          <p><b><%= link_to "#{current_user.following.first.name}", user_path(current_user.following.first.id) %></b> さんに<br>リクエスト中です</p>
        </div>
      <% end %>

      <div class="navi_prof_logout">
        <% if user_signed_in? %>
            <div><%= link_to "ログアウトして終了", destroy_user_session_path, method: :delete, data: { confirm: '本当に終了しますか？(現在のリクエストがリセットされます)' } %></div>
        <% end %>
      </div>
    </div>
  </div>

  <% if current_user.id != @user.id && current_user.have_umbrella == true %>
    <!-- ここに傘持ちユーザーのみに表示されるフォロー通知を置く -->
  <% end %>

  <div class="right_culumn_container">
    <div id="notification_id_is_<%= current_user.id %>"></div>
  
    <% if Matching.find_by(followed_id:current_user.id) && current_user.state == "message" %>
      <div class="confirm_box">
        <%= link_to "#{current_user.following.first.name} さんとメッセージ中です。メッセージ画面はこちら", conversations_path(sender_id: current_user.following.first.id, recipient_id: current_user.id), method: :post %>
      </div>
    <% elsif Matching.find_by(followed_id:current_user.id) && current_user.have_umbrella == false %>
      <div class="confirm_box" id="confirm_id_is_<%= current_user.id %>">
        <%= link_to "あなたのリクエストが承諾されました。こちらから確認してください", confirm_request_users_path %>
      </div>
    <% end %>

  <% if current_user.id != @user.id %>
    <div id="notification_id_is_<%= current_user.id %>">
      <div id="remove_overlap_notification_id_is_<%= current_user.id %>">
        <div id="overlap_notification_id_is_<%= @user.id %>"></div>
      </div>
    </div>
  <% end %>

  <div id="cancel_id_is_<%= @user.id %><%= current_user.id %>"></div>

  <% if current_user.id != @user.id %>
    <div class="main_box_on_user_page">
  <% else %>
    <div class="main_box_on_my_page">
  <% end %>

    <% if current_user.id != @user.id && current_user.have_umbrella == true && @follower != nil %>
      <div class="profile_header">
        <%= link_to 'ユーザー一覧に戻る', users_path %>
        <p class="disc_for_accept" id="remove_disc_id_is_<%= @user.id %><%= current_user.id %>"><strong><%= @user.name %></strong> さんからリクエストが来ています。承諾しますか？</p>
      </div>
      
    <% else %>
      <div class="profile_header">
        <% if current_user.id != @user.id %>
          <%= link_to 'ユーザー一覧に戻る', users_path %>
        <% else %>
          <div><%= link_to 'ユーザー一覧に戻る', users_path, class: "back_to_users" %></div>
          <div class="my_page_on_profile">マイページ</div>
          <div>
            <%= link_to "プロフィールを編集", edit_user_path(current_user.id), class: "edit_on_my_page" if current_user.id == @user.id %>
          </div>
        <% end %>
      </div>
    <% end %>

      <div class="profile_container">
        <div class="profile_left">
          <div>
            <% if @user.image.url == nil %>
              <% if @user.gender == "男" %>
                <%= image_tag 'male.png', class: "profile_img" %>
              <% elsif @user.gender == "女" %>
                <%= image_tag 'female.png', class: "profile_img" %>
              <% elsif @user.gender == "どちらでもない" %>
                <%= image_tag 'trans.png', class: "profile_img" %>
              <% end %>
            <% else %>
              <%= image_tag @user.image.url, class: "profile_pic" unless @user.image.url == nil %>
            <% end %>
          </div>
          <p class="prof_name"><strong><%= @user.name %></strong></p>
          <p class="prof_gender"><b>性別</b> <%= @user.gender %></p>
          <p class="prof_age"><b>年齢</b> <%= @user.age %> 才</p>
        </div>

        <div class="profile_right">
          <div class="prof_area">
            <h2>今いる場所</h2>
            <p><%= @user.area %></p>
          </div>
          <div class="prof_intro">
            <%= @user.introduction %>
          </div>
          <% if @followed == nil && current_user.id != @user.id %>
            <div class="request_button">
              <div id="request_form_id_is_<%= @user.id %>", class="request_button_container"><%= render 'request_form', user: @user %></div>
            </div>
          <% elsif @followed != nil %>
            <div class="approval_button">
              <div id="remove_form_id_is_<%= @user.id %><%= current_user.id %>">
                <% if current_user.id == @followed.id %>
                  <%= form_with(model: current_user.active_matchings.build(followed_id: @user.id)) do |f| %>
                    <%= f.hidden_field :followed_id %>
                    <%= f.submit "承諾する", data: { confirm: '本当に承諾しますか？(承諾するとメッセージルームに移動します)' } if current_user.id != @user.id && current_user.have_umbrella == true %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

