

<h1>スタート画面ですindex</h1>

<%= form_with(model: User.new) do |form| %>
  <div class="have_umbrella">
    <%= form.label "あなたは傘を持っていますか？" %>
    <%= form.radio_button :have_umbrella, :true %>
    <%= form.label :have_umbrella, "はい", {value: :true, style: "display: inline-block;"} %>
    <%= form.radio_button :have_umbrella, :false %>
    <%= form.label :have_umbrella, "いいえ", {value: :false, style: "display: inline-block;"} %>
  </div>
  <div class="user_location">
    <%= form.label :location, "あなたがいる場所を入力してください" %>
    <%= form.text_field :location %>
  </div>
  <%= form.submit "利用を開始" %>
<% end %>