<div class="navi_box">
  <div class="start_navi"><h1>Rainy スタート画面</h1></div>
</div>

<div class="main_box">
  <div class="start_form">
    <%= form_tag(miracle_starts_path, method: "get") do %>
      <%= label :umbrella, :have_umbrella, "あなたは傘を持っていますか？", class: "start_label" %>
      <br>
      <%= radio_button_tag("umbrella[have_umbrella]", true ) %>はい
      <%= radio_button_tag("umbrella[have_umbrella]", false) %>いいえ
      <br><br>
      <%= label :location, :area, "あなたがいる場所を入力してください", class: "start_label" %>
      <br>
      <%= text_field_tag("location[area]") %>
      <br>
      <%= label :profile, :name, "あなたのアカウント名を入力してください", class: "start_label" %>
      <br>
      <%= text_field_tag("profile[name]") %>
      <br><br>
      <%= submit_tag "利用を開始" %>
    <% end %>
  </div>
</div>

