<div class="navi_box">
  <div class="start_navi"><h1>Rainy スタート画面</h1></div>
</div>

<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<div class="main_box">
  <div class="start_form">

    <%= form_with(model: User.find(current_user.id)) do |form| %>
    <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= @user.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
      <div class="start_form">
        <%= form.label "あなたは傘を持っていますか？", class: "start_label" %>
        <br>
        <%= form.radio_button :have_umbrella, :true %>
        <%= form.label :have_umbrella, "はい", {value: :true, style: "display: inline-block;"} %>
        <%= form.radio_button :have_umbrella, :false %>
        <%= form.label :have_umbrella, "いいえ", {value: :false, style: "display: inline-block;"} %>
        <br>
        <%= form.label :area, "あなたがいる場所を入力してください", class: "start_label" %>
        <br>
        <%= form.text_field :area %>
        <br>
        <%= form.label :name, "あなたのアカウント名を入力してください", class: "start_label" %>
        <br>
        <%= form.text_field :name %>
        <br>
        <%= form.select :gender, ['男', '女', 'どちらでもない'], {include_blank: '性別'} %>
        <%= form.select :age, ['20~26', '27~33', '34~40', '41~47', '48~60', '非公開'], {include_blank: '年齢'} %>
        <br>
        <br>
        <%= form.submit "利用を開始" %>
      </div>
    <% end %>
  </div>
</div>

