<!DOCTYPE html>
<html>
  <head>
    <title>Rainy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if false %>
        <%= link_to 'ユーザー一覧', users_path if user_signed_in? %>
        <%= link_to 'スタート画面に戻る', start_users_path if user_signed_in? %>

        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %>
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <% if user_signed_in? %>
          <div><%= link_to "ログアウトして終了する", destroy_user_session_path, method: :delete %></div>
      <% end %>
    </footer>
  </body>
</html>
