<!DOCTYPE html>
<html>
  <head>
    <title>Raynee -つながる傘シェアリングサービス- </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name=”viewport” content=”width=device-width, initial-scale=1”>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_block">
        <div class="header_left"><%= image_tag 'raynee_logo.png', class: "raynee-logo" %></div>
        <div class="header_center"></div>
        <% if user_signed_in? %>
          <div class="header_prof_img">
            <% if current_user.image.url == nil %>
              <% if current_user.gender == "男" %>
                <%= link_to image_tag('male.png'), user_path(current_user.id) %>
              <% elsif current_user.gender == "女" %>
                <%= link_to image_tag('female.png'), user_path(current_user.id) %>
              <% elsif current_user.gender == "どちらでもない" %>
                <%= link_to image_tag('trans.png'), user_path(current_user.id) %>
              <% end %>
            <% else %>
              <%= link_to image_tag(current_user.image.url), user_path(current_user.id) unless current_user.image.url == nil %>
            <% end %>
          </div>
        <% else %>
          <% if controller.action_name == "new" && controller.controller_name == "registrations" %>
            <div class="header_right"><%= link_to "ログイン", new_user_session_path, class: "register_link" %></div>
          <% elsif controller.action_name == "new" && controller.controller_name == "sessions" %>
            <div class="header_right"><%= link_to "登録する", new_user_registration_path, class: "register_link" %></div>
          <% else %>
            <div class="header_right"><%= link_to "ログイン", new_user_session_path, class: "register_link" %></div>
          <% end %>
        <% end %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery-autosize@1.18.18/jquery.autosize.min.js"></script>

    <% if controller.controller_name == "messages" %>
    <script>
      var element = document.documentElement;
      var bottom = element.scrollHeight - element.clientHeight;
      window.scroll(0, bottom);
    </script>
    <% end %>

  </body>
</html>
