<!DOCTYPE html>
<html>
  <head>
    <title>Raynee -つながる傘シェアリングサービス- </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'registrations' %>
  </head>

  <body>
    <% if user_signed_in? && controller.action_name != "start" %>
    <header class="after_login">
    <% else %>
    <header class="before_login">
    <% end %>
      <div class="header_block">
        <div class="header_left">
          <% if user_signed_in? && controller.action_name == "start" %>
            <%= link_to image_tag('raynee_logo.png'), start_users_path, class: "raynee-logo" %>
          <% elsif user_signed_in? %>
            <%= link_to image_tag('raynee_logo.png'), users_path, class: "raynee-logo" %>
          <% else %>
            <%= link_to image_tag('raynee_logo.png'), root_path, class: "raynee-logo" %>
          <% end %>
        </div>
        <div class="header_center"></div>
        <% if controller.controller_name == "tops" %>
          <div class="header_right_on_top">
            <div><%= link_to "ログイン", new_user_session_path, class: "register_link_alt" %></div>
            <div><%= link_to "登録する", new_user_registration_path, class: "register_link" %></div>
          </div>
        <% elsif user_signed_in? %>
          <div class="header_prof_img" id="dropdown__btn">
            <% if current_user.image.url == nil %>
              <% if current_user.gender == "男" %>
                <%= image_tag('male.png') %>
              <% elsif current_user.gender == "女" %>
                <%= image_tag('female.png') %>
              <% elsif current_user.gender == "どちらでもない" %>
                <%= image_tag('trans.png') %>
              <% end %>
            <% else %>
              <%= image_tag(current_user.image.url) unless current_user.image.url == nil %>
            <% end %>
          </div>
          <div class="header_prof_img_responsible" id="">
            <% if current_user.image.url == nil %>
              <% if current_user.gender == "男" %>
                <%= image_tag('male.png') %>
              <% elsif current_user.gender == "女" %>
                <%= image_tag('female.png') %>
              <% elsif current_user.gender == "どちらでもない" %>
                <%= image_tag('trans.png') %>
              <% end %>
            <% else %>
              <%= image_tag(current_user.image.url) unless current_user.image.url == nil %>
            <% end %>
          </div>
          <div class="sp_menu_button">
            <div class="menu_icon02">
              <span class="bar1"></span>
              <span class="bar2"></span>
              <span class="bar3"></span>
            </div>
          </div>
        <% else %>
          <% if controller.action_name == "new" && controller.controller_name == "registrations" %>
            <div class="header_right"><%= link_to "ログイン", new_user_session_path, class: "register_link" %></div>
          <% elsif controller.action_name == "new" && controller.controller_name == "sessions" %>
            <div class="header_right"><%= link_to "登録する", new_user_registration_path, class: "register_link" %></div>
          <% else %>
            <div class="header_right"><%= link_to "ログイン", new_user_session_path, class: "register_link" %></div>
          <% end %>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <div class="dropdown_menu" id="header_menu">
          <div class="dropdown__body">
            <ul class="dropdown__list">
              <% if controller.action_name == "start" %>
                <li class="dropdown__item">
                  <%= link_to "マイページ", user_path(current_user.id, params: { user: { state: "start"}}), method: :put, class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "ログアウトして終了する", destroy_user_session_path, method: :delete, class: "dropdown__item-link" %>
                </li>
              <% elsif current_user.state == "start" %>
                <li class="dropdown__item">
                  <%= link_to "マイページ", user_path(current_user.id), class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "スタート画面に戻る", start_users_path, class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "ログアウトして終了する", destroy_user_session_path, method: :delete, class: "dropdown__item-link" %>
                </li>
              <% elsif Matching.find_by(follower_id: current_user.id) == nil && current_user.have_umbrella == false %>
                <li class="dropdown__item">
                  <%= link_to "マイページ", user_path(current_user.id), class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <% if current_user.have_umbrella == true %>
                    <%= link_to "リクエスト一覧", users_path, class: "dropdown__item-link" %>
                  <% else %>
                    <%= link_to "傘を持っているひと一覧", users_path, class: "dropdown__item-link" %>
                  <% end %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "スタート画面に戻る", start_users_path, class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "ログアウトして終了する", destroy_user_session_path, method: :delete, class: "dropdown__item-link" %>
                </li>
              <% elsif current_user.state == "request" %>
                <li class="dropdown__item">
                  <%= link_to "マイページ", user_path(current_user.id), class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <% if current_user.have_umbrella == true %>
                    <%= link_to "リクエスト一覧", users_path, class: "dropdown__item-link" %>
                  <% else %>
                    <%= link_to "傘を持っているひと一覧", users_path, class: "dropdown__item-link" %>
                  <% end %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "スタート画面に戻る", user_path(current_user.id, params: { user: { state: "restart"}}), data: { confirm: 'スタート画面に戻りますか？(現在のリクエストがリセットされます)' }, method: :put, class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "ログアウトして終了する", destroy_user_session_path, method: :delete, data: { confirm: "本当に終了しますか？\n(現在のリクエストがリセットされます)" }, class: "dropdown__item-link" %>
                </li>
              <% elsif current_user.state == "message" %>
                <li class="dropdown__item">
                  <%= link_to "マイページ", user_path(current_user.id), class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <% if current_user.have_umbrella == true %>
                    <%= link_to "リクエスト一覧", users_path, class: "dropdown__item-link" %>
                  <% else %>
                    <%= link_to "傘を持っているひと一覧", users_path, class: "dropdown__item-link" %>
                  <% end %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "スタート画面に戻る", user_path(current_user.id, params: { user: { state: "restart"}}), data: { confirm: 'スタート画面に戻りますか？(現在のリクエストがリセットされます)' }, method: :put, class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "ログアウトして終了する", destroy_user_session_path, method: :delete, data: { confirm: "本当に終了しますか？\n(現在のリクエストがリセットされます)" }, class: "dropdown__item-link" %>
                </li>
              <% elsif current_user.have_umbrella == true %>
                <li class="dropdown__item">
                  <%= link_to "マイページ", user_path(current_user.id), class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "リクエスト一覧", users_path, class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "スタート画面に戻る", user_path(current_user.id, params: { user: { state: "restart"}}), data: { confirm: 'スタート画面に戻りますか？(リクエストが全てリセットされます)' }, method: :put, class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "ログアウトして終了する", destroy_user_session_path, method: :delete, data: { confirm: "本当に終了しますか？\n(リクエストが全てリセットされます)" }, class: "dropdown__item-link" %>
                </li>
              <% elsif current_user.have_umbrella == false %>
                <li class="dropdown__item">
                  <%= link_to "マイページ", user_path(current_user.id), class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "傘を持っているひと一覧", users_path, class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "スタート画面に戻る", user_path(current_user.id, params: { user: { state: "restart"}}), data: { confirm: 'スタート画面に戻りますか？(現在のリクエストがリセットされます)' }, method: :put, class: "dropdown__item-link" %>
                </li>
                <li class="dropdown__item">
                  <%= link_to "ログアウトして終了する", destroy_user_session_path, method: :delete, class: "dropdown__item-link" %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="dropdown__empty" id="rest_of_dropdown"></div>
        </div>
        <% if current_user.have_umbrella == true && controller.action_name != "start" && current_user.state != "start" %>
          <div class="state_umbrella_on_responsible">
            <p>傘を持っているユーザーとして利用中</p>
          </div>
        <% elsif controller.action_name != "start" && current_user.state != "start" %>
          <div class="state_umbrella_on_responsible">
            <p>傘を持っていないユーザーとして利用中</p>
          </div>
        <% end %>
        <nav>
          <% if controller.action_name == "start" %>
            <div class="nav_button_on_nav_menu">
              <%= link_to "マイページ", user_path(current_user.id, params: { user: { state: "start"}}), method: :put, class: "dropdown__item-link" %>
            </div>
            <div class="nav_button_on_nav_menu">
              <%= link_to "スタート画面に戻る", start_users_path %>
            </div>
            <div class="nav_button_on_nav_menu">
              <%= link_to "ログアウトして終了する", destroy_user_session_path, method: :delete, data: { confirm: "本当に終了しますか？\n(現在のリクエストがリセットされます)" } %>
            </div>
          <% else %>
            <div class="nav_button_on_nav_menu">
              <%= link_to "マイページ", user_path(current_user.id) %>
            </div>
            <% if current_user.state != "start" && current_user.have_umbrella == true %>
              <div class="nav_button_on_nav_menu">
                <%= link_to "リクエスト一覧", users_path %>
              </div>
            <% elsif current_user.state != "start" && current_user.have_umbrella == false %>
              <div class="nav_button_on_nav_menu">
                <%= link_to "傘を持っているひと一覧", users_path %>
              </div>
            <% end %>
            <div class="nav_button_on_nav_menu">
              <%= link_to "スタート画面に戻る", start_users_path %>
            </div>
            <div class="nav_button_on_nav_menu">
              <%= link_to "ログアウトして終了する", destroy_user_session_path, method: :delete, data: { confirm: "本当に終了しますか？\n(現在のリクエストがリセットされます)" } %>
            </div>
          <% end %>
        </nav>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/jquery-autosize@1.18.18/jquery.autosize.min.js"></script>

    <% if controller.controller_name == "messages" %>
      <script>
        var element = document.documentElement;
        var bottom = element.scrollHeight - element.clientHeight;
        window.scroll(0, bottom);
      </script>
    <% end %>

    <script>
    // PC画面のナビメニュー
      (function () {
                    document.addEventListener('DOMContentLoaded', function() { // HTML解析が終わったら
                      const btn = document.getElementById('dropdown__btn'); // ボタンをidで取得
                      if(btn) { // ボタンが存在しないときにエラーになるのを回避
                        btn.addEventListener('click', function(){ //ボタンがクリックされたら
                          document.getElementById('header_menu').classList.toggle('is-open'); // #header_menuにis-openを付加する
                          this.classList.toggle('is-close'); // ボタンにis-closeを付加する
                        });
                      }
                      const restOfMenu = document.getElementById('rest_of_dropdown'); // メニューブロックの残りの部分をidで取得
                      if(restOfMenu) { // ボタンが存在しないときにエラーになるのを回避
                        restOfMenu.addEventListener('click', function(){ //メニューブロックの残りの部分がクリックされたら
                          document.getElementById('header_menu').classList.toggle('is-open'); // #header_menuにis-openを付加する
                          btn.classList.toggle('is-close'); // ボタンにis-closeを付加する
                        });
                      }
                    });
                  }());

      // スマホ・タブレット画面のナビメニュー
      const ResponsibleBtn = document.querySelector('.sp_menu_button');
      const nav = document.querySelector('nav');
      ResponsibleBtn.addEventListener('click', () => {
        nav.classList.toggle('open-menu')
      });

      // スマホ・タブレット画面のハンバーガーメニュー
      $(function () {
                      $('.sp_menu_button').on('click',function(){
                              if ($(this).hasClass('open')){
                                  $(this).removeClass('open');
                              } else {
                                  $(this).addClass('open');
                              }
                          });
                      });
    </script>

    <% if controller.controller_name == "sessions" %>
      <script>
        // スクロールを無効にする
          $(window).on('touchmove.noScroll', function(e) {
              e.preventDefault();
          });
      </script>
    <% end %>

  </body>
</html>
